.Cart-header {
    padding-top: 5vh;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.Cart-container {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #c9bfbf;
    padding: 20px;
    }

.Cart-container .Cart-items{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

/* Table */

.Cart-container .Cart-items .Cart-table {
    font-size: 1.4rem;
    background-color: #000000a1;
    border-radius: 10px;
    border: 1px solid #000000a1;
}

.Cart-container .Cart-items .Cart-table .Cart-table-header {
    background-color: #978c8c;
}

.Cart-container .Cart-items .Cart-table .Cart-table-body {
    background-color: #a59696;
}

.Cart-container .Cart-items .Cart-table .Cart-item-image{
    margin-top: 8px;
    width: 75px;
    height: 70px;
}

.Cart-container .Cart-items .Cart-table-body .Cart-item-remove{
    background-color: transparent;
    border-color: transparent;
}

.Cart-container .Cart-items .Cart-table-body .Cart-item-remove svg{
    font-size: 35px;
    color: #000;
    cursor: pointer;
    transition: all 0.4s;
}

.Cart-container .Cart-items .Cart-table-body .Cart-item-remove svg:hover{
    font-size: 40px;
    color: #940000a1;
    cursor: pointer;
}

/* Table Footer */

.Cart-container .Cart-items .Cart-table .Cart-table-footer {
    background-color: #8f8383;
}

.Cart-container .Cart-items .Cart-table .Cart-table-footer .Cart-table-footer-back-to-home {
    text-align: end;
    padding: 10px;
}

.Cart-container .Cart-items .Cart-table .Cart-table-footer .Cart-table-footer-back-to-home .Cart-table-footer-back-to-home-button, .Cart-container .Cart-items .Cart-table .Cart-table-footer .Cart-table-footer-empty-cart .Cart-table-footer-empty-cart-button {
    color: #fff;
    padding: 5px;
    font-size: 1rem;
    background-color: #0f0d0e;
    border-color: #0f0d0e;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.6s;
}

.Cart-container .Cart-items .Cart-table .Cart-table-footer .Cart-table-footer-back-to-home .Cart-table-footer-back-to-home-button:hover {
    background-color: rgba(30, 148, 7, 0.555);
    border-color: rgba(30, 148, 7, 0.555);
}

.Cart-container .Cart-items .Cart-table .Cart-table-footer .Cart-table-footer-empty-cart .Cart-table-footer-empty-cart-button:hover {
    background-color: #940000a1;
    border-color: #940000a1;
}

/* Total summary */

.Cart-container .Cart-total{
    background-color: #ffffffd5;
    margin-left: 20px;
    padding: 0 0 25px 0; 
    width: 25%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid #000000a1;
}

.Cart-container .Cart-total .Cart-total-body{
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.Cart-container .Cart-total .Cart-total-footer{
    display: flex;
    justify-content: space-around;
}

.Cart-container .Cart-total .Cart-total-footer .Cart-total-footer-checkout{
    font-size: 1.3rem;
    background-color: #000;
    color: #fff;
    width: 80%;
    margin-top: 15px;
    padding: 5px 0;
    border-radius: 10px;
    border-color: #001;
    cursor: pointer;
    transition: all 0.6s;
}

.Cart-container .Cart-total .Cart-total-footer .Cart-total-footer-checkout:hover{
    background-color: rgb(160, 197, 143);
    color: #000;
}

/* When the cart is empty */

.Cart-empty-header {
    padding-top: 5vh;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.Cart-empty-button{
    background-color: #0f0d0e;
    border-color: #0f0d0e;
    color: #fff;
    border-width: 4px;
    border-radius: 5px;
    width: fit-content;
    padding: 4px 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.6s;
    position: relative;
}

.Cart-empty-button:hover{
    color: #000;
    background-color: white;
}